$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;

@mixin breakpoint($point) {
    @if $point == SM {
        @media (min-width: $BP_SM) { @content; } // 480px
    }
    @else if $point == MD {
        @media (min-width: $BP_MD) { @content; } // 768px
    }
    @else if $point == LG {
        @media (min-width: $BP_LG) { @content; } // site max width
    }
}